<!DOCTYPE html>
<html xmlns="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/myStyle.css') }}">
            <link href="{{ asset('https://fonts.googleapis.com/css?family=Raleway') }}" rel='stylesheet'>
            <link rel="stylesheet" href="{{ asset("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") }}">
            <link rel="stylesheet" href="{{ asset("https://fonts.googleapis.com/icon?family=Material+Icons") }}">


            <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
            <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'adBanner.html.twig' %}

        <header>{% include 'header.html.twig' %}</header>

        {% block body %}{% endblock %}
        <div class="footer">{% include 'footer.html.twig' %}</div>
    </body>
    {% block javascripts %}
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
        <script src="{{ asset('js/adBanner.js') }}"></script>
        <script src="{{ asset('js/productHover.js') }}"></script>
        <script src="{{ asset('js/addingToBasketMethods.js') }}"></script>
        <script src="{{ asset('js/cartRunner.js') }}"></script>

    {% endblock %}
</html>
