{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}
{% block body %}
<div class="block">
    <div class="blocktitle"><h2>COLLABS</h2></div>
    <div style="margin-top:5vh;">
        <img src="{{ image1 }}" style="width:49.5%;" class="image">
        <img src="{{ image3 }}" style="width:49.5%;" class="image">
        <img src="{{ image4 }}" style="width:24.5%;" class="image">
        <img src="{{ image5 }}" style="width:24.5%;" class="image">
        <img src="{{ image6 }}" style="width:24.5%;" class="image">
        <img src="{{ image3 }}" style="width:24.5%;" class="image">
        <img src="{{ image2 }}" style="width:99%;" class="image">
    </div>
</div>


{% endblock %}